<launch>
    <arg name="string" default="Hello, ROS2!" />

    <node
        pkg="task02"
        exec="publisher"
        output="screen"
    >
        <param name="string" value="$(var string)" />
<!--         <param from="$(find-pkg-share example)/config/example.yaml"/> -->
        <param from="$(find-pkg-share task02)/config/task02.yaml" />
    </node>
</launch>
